.colleagues_directory_pager {
	width: 100% !important;
	text-align: center;
	margin: 15px;
}

.colleagues_directory_pager_item {
    padding: 10px;
    margin-left: 0px;
    margin-right: 1px;
    border-bottom: 5px solid #62c58d;
}

.colleagues_directory_results_container, .analysis-table {
	width: 100% !important;
	background-color: #FFFFFF;
	padding: 10px;
	
}

.colleagues_directory_results_container tr, .analysis-table tr {
	border-bottom: 1px solid #4b7763;
}

.colleagues_directory_results_container tr td, .analysis-table tr td {
	padding: 3px;
	vertical-align: top;
	padding-top: 10px;
	padding-bottom: 10px;
}

.colleagues_directory_results_container .photo {
	width: 120px !important;
}

.colleagues_directory_results_container tr td:nth-child(1), .colleagues_directory_results_container tr td:nth-child(2), .colleagues_directory_results_container tr td:nth-child(3) {
	width: 20%;
}

.colleagues_directory_results_container th, .analysis-table th {
	background-color: /* #62c58d */ #669966;
	color: #FFFFFF;
	padding: 7px;
}

.colleagues_directory_browsebyname_header, .colleagues_directory_advancedsearch_header {
	font-weight: bold;
    background-color: #d2e0d2;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    margin-top: 15px;
    margin-bottom: 6px;
    border-radius: 5px;
    color: #739479;
}

.colleagues_directory_browsebyname_pagination  {
    text-align: center;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

 .colleagues_directory_browsebyname_pagination a{
    /* color: #477777 !important; */
	
    color: #fdfdfd !important;
    background-color: #4b7763;
    padding: 6px;
    margin-right: 5px;
    border-radius: 5px;
}

#colleagues_directory_search_items select {
	height: 28px;
}

#colleagues_directory_search_form {
	margin-top: 10px;
	text-align: center;
}

#colleagues_directory_search_form input[type="submit"], #colleagues_directory_search_form input[type="reset"], #colleagues_directory_search_form input[type="button"] {
	border-radius: 5px;
    margin-left: 2px;
    background-color: #4b7763;
    color: #FFFFFF;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
    border: 0px solid;
}


